.header__top {
  padding-top: 20px;
  margin-bottom: 23px;
  font-size: 18px;
}
.header__top-inner {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo{
  font-family: "Latin CT Wide",  sans-serif;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

.header__logo {
  margin-right: 42px;
  z-index: 11;
}
.logo span{
  margin-top: 12px;
}

.header__logo-img--mobile{
  display: none;
}

.header__top-buttons{
  padding-left: 10px;
}


.header__button-br--gradient, .header__button-br{
  max-width: 115px;
}
.header__button-br{
  max-height: 60px;
  font-size: 18px;
  padding: 25px 25px;
  width: 100%;
}

.nav__list {
  display: flex;
  margin-top: 10px;
  gap: 90px;
}

.nav__link {
  display: block;
  background: radial-gradient(3992.22% 112.45% at 8.04%  17.65%, rgb(231, 170, 25) 0%, rgb(203, 109, 156) 100%);
  background-clip: text;
  -webkit-background-clip: text; 
  width: 100%;
  height: 100%;
  position: relative;
  transition: all .4s;
}

.nav__link::after {
  content: '✨';
  position:absolute;
  top: 0px;
  right: -25px;
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
  color: rgba(255, 255, 255);
}
.nav__link:hover::after {
  opacity: 1;
  visibility: visible;
}
.nav__link:hover {
  color: transparent;
}

.nav__item--mobile{
  display: none;
  width: 100%;
  max-width: 300px;
}

.nav__button-br{
  max-height: 50px;
  font-size: 15px;
  font-size: 15px;
  padding: 30px 5px;
}

.nav__button-bg{
  font-size: 15px;
  padding: 15px 5px;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  width: 100%;
  z-index: 11;

}

.header__button-bg {
  max-width: 234px;
  justify-self: end;
}



/* ================================= */


.header__top {
  padding-top: 20px;
  margin-bottom: 23px;
  font-size: 18px;
}
.header__top-inner {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__logo {
  font-family: "Latin CT Wide",  sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-right: 42px;
  z-index: 11;
}
.header__logo span{
  margin-top: 12px;
}

.nav__list {
  display: flex;
  margin-top: 10px;
  gap: 90px;
}

.nav__link {
  display: block;
  background: radial-gradient(3992.22% 112.45% at 8.04%  17.65%, rgb(231, 170, 25) 0%, rgb(203, 109, 156) 100%);
  background-clip: text;
  -webkit-background-clip: text; 
  width: 100%;
  height: 100%;
  position: relative;
  transition: all .4s;
}

.nav__link::after {
  content: '✨';
  position:absolute;
  top: 0px;
  right: -25px;
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
  color: rgba(255, 255, 255);
}
.nav__link:hover::after {
  opacity: 1;
  visibility: visible;
}
.nav__link:hover {
  color: transparent;
}

.nav__buttons{
  padding: 0 10px;
}


.buttons{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  width: 100%;
  z-index: 11;
}

.header__button-bg {
  max-width: 234px;
  justify-self: end;
}

/* ==================== */

.counter__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 20px 10px;
  border-radius: 19px;
  background: linear-gradient(126deg, rgba(255, 255, 255, 0.1) 0%);
  margin-bottom: 39px;
}
.counter__info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.counter__img {
  flex-shrink: 0;
}


.counter__text{
  font-size: 18px;
}
.counter__text span{
  font-weight: 500;
}
.counter__countdown {
  font-size: 30px;
}

.timer {
  display: grid;
  grid-template-columns: 3.9rem 1.3rem 3.9rem 1.3rem 3.9rem 1.3rem 4rem;
  align-self: flex-end;
  padding-left: 15px;

}

.timer__item {
  position: relative;
  justify-self: center;
  justify-self: left;
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  top: 22%;
  left: 127%;
  transform: translateX(-50%);
  color: white;
  font-size: 20px;
}

/* ==================== */

.hero{
  position: relative;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.hero__body {
  max-width: 1003px;
  margin-left: 45px;
}
.hero__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.17;
  margin-bottom: 21px;
}
.hero__list {
  font-weight: 300;
  font-size: 30px;
  line-height: 1.59;
  color: #eae9e9;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 28px;
}
.hero__item::before {
  content: "•";
  margin-right: 12px;
}

.hero__buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 49px;
  justify-content: start;
}

.hero__button-bg{
  height: 100%;
}
.hero__button-br {
  height: 100%;
}

.hero__button-bg{
  position: relative;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.59;
  max-width: 380px;
  justify-content: start;
  text-align: center;
  padding: 35px 40px;

}
.hero__button-bg::after {
  content: url("../img/decor/list.png");
  position: absolute;
  left: 76%;
  top: -12%;
}

.users {
  display: flex;
  align-items: center;
  max-width: 450px;
}

.users__list{
  display: flex;
}

.users__item:nth-child(1){
  position: relative;
}
.users__item:nth-child(2){
  position: relative;
  left: -15%;
}
.users__item:nth-child(3){
  position: relative;
  left: -30%;
}

.users__text {
  margin-left: -10%;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.26;
  max-width: 240px;
}

.users__img{
  width: 100%;
}


.hero__ellipse {
  width: 480px;
  height: 480px;
  border-radius: 100%;
  background: linear-gradient(180deg, #98c269 0%, #9edfb6 100%);
  filter: blur(300px);
  z-index: -2;
  align-self: flex-end;
}

.hero__buttons{
  max-width: 775px;
}

.hero__button-br{
  justify-content: center;
}

.hero__row{
  position: absolute;
  left: 14px;
  top: 288px;
}

.hero__iphone{
  position: absolute;
  top: -154.273px;
  right: -580px;
  z-index: -1;
}