:root{
  --general-text:#312c27;
  --general-bg: #fff9f4;
  --accent-color: #FFA55C;
  --accent-bg: #FFE0CB;
  --accent-text: #1F1711;
}

.body{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--general-text);
  background: var(--general-bg);
}

.body--opened-menu{
  overflow: hidden;
}

.body--opened-modal{
  overflow: hidden;
}

.wrapper{
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}
.main__about {
  margin: 140px 0;
}

.main__program{
  margin: 140px 0;
}

.container{
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.button{
  background: var(--accent-color);
  display: flex;
  border-radius: 60px;
  padding: 3px 15px;
  height: 62px;
  font-size: 16px;


  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.6;
}
.title{
  font-size: 74px;
  line-height: 0.82;
  color: var(--accent-text);
  font-family: "Gabriola", sans-serif;
}

.burger-icon{
  display: none;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  z-index: 11;
}


.burger-icon span,
.burger-icon span::after, 
.burger-icon span::before{
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background: var(--accent-text);
  border-radius: 100px;
  transition: all .4s;
}

.burger-icon span{
  position: relative;
}

.burger-icon span::after{
  position: absolute;
  top: -8px;
}

.burger-icon span::before{
  position: absolute;
  bottom: -8px; 
}

.body--opened-menu .burger-icon span
{
  background: transparent;
} 

.body--opened-menu .burger-icon span::before
{
  bottom: 0px;
  transform: rotate(-45deg);
} 


.body--opened-menu .burger-icon span::after
{
  top: 0px;
  transform: rotate(45deg);
} 

.modal{
  position: fixed;
  inset: 0;
  background: #00000071;
  z-index: 10;
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transition: all .6s;
}

.body--opened-modal .modal {
  opacity: 1;
  visibility: visible; 
}

.modal__title{
  font-size: 42px;
  line-height: 0.9;
  margin-bottom: 10px;
}

.modal__text{
  margin-bottom: 31px;
}

.modal__window{
  position: relative;
  background: var(--general-bg);
  border-radius: 20px;
  padding: 0 60px 60px;
  max-width: 428px;


}

.modal__img{
  margin: -65px 0 15px 13px;
  max-width: 100%;
}

.modal__canel{
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal__canel rect, .modal__canel path{
  transition: all .4s;
}

.modal__canel:hover rect, .modal__canel:hover path{
  stroke: #AC907A;
}

.modal__form{
  width: 100%;
}

.field{
  display: block;
  position: relative;
  font-size: 11px;
  color: #ac907a;
}

.modal__form-label{
  margin-bottom: 10px;
}
.field span{
  position: absolute;
  top: 10px;
  left: 28px;
  visibility: hidden;
  opacity: 0;
  transition: all .4s;
}
.field__input{
  display: block;
  width: 100%;
  border: 1px solid #ac907a;
  border-radius: 100px;
  padding: 19px 41px 19px 28px;
  font-size: 16px;
  background: transparent;
  transition: all .4s;
}
.field__input::placeholder{
  color: #ac907a;
  transition: all .4s;
}
.field__input:hover{
  border-color:  var(--accent-color); 
}
.field__input:hover::placeholder{
  color: var(--accent-color);
}

.field__input:focus{
  padding: 26px 41px 12px 28px;
}

.field__input:focus + span{
  visibility: visible;
  opacity: 1;
}

.modal__form-button{
  width: 100%;
  margin-bottom: 0;
  transition: all .4s;
}

.modal__form-button:hover{
  background: #ff9138;
}


/* ======================================== */

.header{
  background: url(../img/decor/bg-header.png) 50% 100%/cover no-repeat ;
}

.header__top{
  padding-top: 20px;
}

.header__logo{
  max-width: 174.22px;
  max-height: 60px;
  z-index: 11;
}
.header__logo img{
  width: 100%;
}

.header__top-inner{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav__list{
  display: flex;
  gap: 4vh 40px;
}

.nav__link{
  display: block;
  position: relative;
  padding: 5px 0;
  z-index: 1;
}

.nav__link::before{
  content: '';
  position: absolute;
  top: -8px;
  left: -13px;
  z-index: -1;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: var(--accent-color);
  
  visibility: hidden;
  opacity: 0;
  transition: all .4s;
}

.nav__link:hover::before{
  visibility: visible;
  opacity: 1;
}

/* ======================================== */

.hero__inner{
  display: flex;
}

.hero__content{
  max-width: 519px;
}


.hero {
  padding: 50px 0 140px;
}
.hero__inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
}

.hero__inf {
  color: #b197b2;
  line-height: 1.6;
  text-transform: uppercase;
  margin-bottom: 20px;

  display: flex;
  flex-wrap: wrap;

}
.hero__inf span {
  display: flex;
  align-items: center;
}
.hero__inf span::after {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #B197B2;
  margin: 0 10px;
}
.hero__inf span:last-child:after {
  content: none;
}
.hero__title{
  margin-bottom: 30px;
}

.hero__text {
  max-width: 360px;
  margin-bottom: 40px;
}

.hero__button{
  max-width: 358px;
  width: 100%;
  transition: all .4s;
}

.hero__button:hover{
  background: #ff9138;
}

.hero__img {
  margin-right: 247px;
  position: relative;
}
.hero__img>img
{
  width: 100%;
}


.hero__img-control {
  position: absolute;
  top: 72%;
  left: calc(100% - 39px);
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 200px;
  text-align: left;
}

.hero__img-control--mobile{
  display: none;
}

.hero__img-button {
  flex-shrink: 0;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: var(--accent-bg);
  box-shadow: 0 4px 20px 0 #b8947e4d;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero__img-button img{
  padding-left: 8.8%;
}

.hero__img-button::before{
  content: '';
  display: block;
  position: absolute;
  /* width: 68px;
  height: 68px; */
  inset: 5px;
  border: 1px solid var(--accent-color);
  border-radius: 100%;
  box-shadow: 0 4px 20px 0 #b8947e4d;

  transition: all .4s;
  visibility: hidden;
  opacity: 0;
}

.hero__img-button:hover::before{
  visibility: visible;
  opacity: 1;
}

/* ================================================== */

.footer{
  background: #AB8261;
  padding: 60px 0 66px;
  color: var(--general-bg);
}

.footer__col:first-child{
  margin-top: -30px;
}


.footer__logo{
  display: block;
  max-width: 240px;
}

.footer__logo img{
  width: 100%;
}

.footer__inner{
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1.2fr auto;
  padding: 0 15px;
}


.socials{
  line-height: 0;
}

.socials__list{
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.socials__link path{
  transition: all .4s;
}

.socials__link:hover path{
  fill: var(--accent-color);
}

.footer__col-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: -5px;
}

.footer__col-link{
  display: block;
  padding: 5px 0;
  position: relative;
  z-index: 1;
}

.footer__col-link::before{
  content: '';
  position: absolute;
  top: -12px;
  left: -14px;
  z-index: -1;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: var(--accent-color);
  
  visibility: hidden;
  opacity: 0;
  transition: all .4s;
}

.footer__col-link:hover::before{
  visibility: visible;
  opacity: 1;
}


.footer__contact-item{
  margin-bottom: 10px;
}
.footer__contact-item:last-child{
  margin-bottom: 0;
}


.footer__col-tel{
  display: flex;
  flex-direction: column;
  margin-bottom: 47px;
}

.footer__col-tel a{
  font-weight: 500;
  font-size: 24px;
  line-height: 1.6;
  text-transform: uppercase;
  transition: all .4s;
}
.footer__col-tel:hover a{
  color: var(--accent-color);
}


.footer__col-copy{
  color: #dec5b1;
}
/* ================================================== */


.about__inner {
  display: grid;
  grid-template-columns: 1fr 1.05fr;
  grid-template-rows: repeat(2,auto);
  gap: 40px 53px;
}
.about__img {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  grid-row: 1/-1;
}
.about__img>img{
  object-fit: cover;
  object-position: 0 50%;
  width: 100%;
  height: 100%;
}

.about__img-control {
  position: absolute;
  bottom: 4.7%;
  left: 5%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  max-width: 300px;
  height: 108px;
  border-radius: 20px;
  background: #957b97e6;
  color: var(--general-bg);
  text-align: left;
}
.about__img-button {
  position: relative;
  flex-shrink: 0;
  width: 78px;
  height: 78px;
  border-radius: 100%;
  background: var(--general-bg);

  display: flex;
  justify-content: center;
  align-items: center;
}

.about__img-button::before{
  content: '';
  position: absolute;
  inset: 5px;
  border-radius: 100%;
  /* width: 68px;
  height: 68px; */
  border: 1px solid #ceaad0;

  opacity: 0;
  visibility: hidden;
  transition: all .4s;
}

.about__img-button:hover::before{
  visibility: visible;
  opacity: 1;
}

.about__heading {
  margin-bottom: 30px;
}

.about__grid {
  display: grid;
  grid-template-columns: 1fr 1.05fr;
  gap: 32px;
}
.about__grid-item {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 20px;
  padding: 29px 24px;
  background: var(--accent-bg);
}
.about__grid-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--general-text);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ================================================== */



.program__top{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 60px;
  gap: 30px 15px;
  align-items: center;
}


.program__title{
  margin-bottom: 20px;
}
.program__bottom {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.program__action {
  display: grid;
  max-width: 501px;
  grid-template: repeat(3, auto) / 1.65fr 1fr;
  gap: 40px;
  flex-shrink: 0;
  width: 100%;
}
.program__discount {
  grid-row: 1/3;

  background: var(--accent-bg);
  border-radius: 20px;
  font-size: 20px;
  padding: 40px;
}

.program__discount-value{
  display: block;
  font-family: "Gabriola", sans-serif;
  font-size: 74px;
  line-height: .82;
  color: var(--accent-color);
  margin-left: 15%;
  margin-bottom: 7px;

  transform-origin: 0 0;
  animation: move-sale .8s infinite alternate; 
}
@keyframes move-sale{
  from{
    transform: scale(1);
    color: var(--accent-color);
  }
  to{
    transform: translateX(3%) scale(1.1);
    color: #ff9138;
  }
}

.program__discount span{
  display: block;
  font-size: 16px;
  margin-left: 35%;
}

.program__price-text {
  display: block;
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #ceaad0;
}
.program__price-value {
  font-family: "Gabriola", sans-serif;
  font-size: 32px;
  line-height: .9;
}
.program__price-value--sale {
  font-family: "Gabriola", sans-serif;
  font-size: 50px;
  line-height: .9;
  color: var(--accent-text);
}

.program__action-button{
  grid-column: 1/3;
  align-self: center;
}

.program__img img{
  width: 100%;
}

/* ================================================== */

.tab-controls{
  display: flex;
  gap: 26px;
  white-space: nowrap;
}

.tab-controls__item{
  margin-bottom: 10px;
}

.tab-controls__link{
  border-radius: 100px;
  display: block;
  padding: 14px 30px;
  transition: all .4s;
  box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);
}

.tab-controls__link:hover{
  background: var(--accent-bg);
}

.tab-controls--active{
  background: var(--accent-bg);
  box-shadow: 0; 
}

.tab-content{
  display: none;
}

.tab-content--show{
  display: block;
}


.accordion-list__item {
  margin-bottom: 30px;
  border-radius: 20px;
  border: 1px solid var(--accent-color);
  overflow: hidden;

}
.accordion-list__item:last-child{
  margin-bottom: 0;
}

.accordion-list__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  gap: 15px;
  width: 100%;
  padding: 40px 30px;
  transition: all .4s;
  background: transparent;
}


.accordion-list__item--opened .accordion-list__control{
  padding-bottom: 20px;
}

.accordion-list__control-title {
  font-size: 42px;
  line-height: .9;
}

.accordion-list__control-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1.5px solid var(--accent-color);
  border-radius: 100px;
  flex-shrink: 0;

  transition: all .4s;
}

.accordion-list__control-icon,.accordion-list__control-icon path, .accordion-list__control-icon svg{
  transition: all .4s;
}
.accordion-list__control:hover .accordion-list__control-icon{
  background: var(--accent-color);
}
.accordion-list__control:hover path{
  fill: var(--general-bg);
}
.accordion-list__control:hover svg{
  transform: rotate(90deg);
}



.accordion-list__item--opened .accordion-list__control-icon{
  background: var(--accent-color);
}
.accordion-list__item--opened .accordion-list__control path{
  fill: var(--general-bg);
}
.accordion-list__item--opened .accordion-list__control svg{
  transform: rotate(90deg);
}


.accordion-list__content {
  max-height: 0px;
  overflow: hidden;
  transition: all .4s;
}

.accordion-list__item--opened .accordion-list__content{
  max-height: 800px;
}

  
.accordion-content {
  padding: 0 30px 40px 30px;
  display: flex;
  gap: 80px;
}
.accordion-content__col:first-child {
  max-width: 507px;
  width: 100%;
}
.accordion-content__title {
  text-transform: uppercase;
  color: #ceaad0;
  list-style: 1.6;
  margin-bottom: 20px;
}

.accordion-content__item {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}
.accordion-content__item:last-child{
  margin-bottom: 0;
}
.accordion-content__icon {
  border: 1px solid #ceaad0;
  border-radius: 100%;
  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.accordion-content__text {
  max-width: 274px;
}


/* ================================================== */




/* ================================================== */
/* ================================================== */
/* ================================================== */


@media (max-width: 1200px) {
  .hero__img 
  {
    margin: 0;
    max-width: 377px;
  }

  .hero__img-control{
    position: static;
    max-width: none;
    margin-top: 30px;
  }

      /* ----------- */

      .footer__inner {
        justify-content: space-between;
        grid-template: repeat(2, auto) / repeat(3, auto);
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
        text-align: center;
    }

    .footer__col-tel{
      margin-bottom: 10px;
  }

  /* --------------------------- */

  .program__top{
    flex-direction: column;
    align-items: start;
  }

  .tab-controls{
    flex-wrap: wrap;
  }
}

@media (max-width: 1100px) {
  .about__img {
    grid-row:auto;
}
.about__grid{
  grid-column: 1/-1;
}
.about__body{
  align-self: center;
}

/* -------------------------------------- */

.accordion-list__control{
  padding: 20px 30px;
  font-size: 35px;
}
  .accordion-list__item{
    margin-bottom: 25x;
  }

  .program__top{
    margin-bottom: 40px;
  }

  .accordion-content{
    gap: 30px;
  }
}

@media (max-width:900px){
  .nav{
    position: fixed;
    inset: 0;
    z-index: 10;
    background: var(--accent-bg);
    padding: 25vh 15px 30px;
    font-size: 24px;

    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
  }


  .nav__list{
    flex-direction: column;
    align-items: center;
  }

  .body--opened-menu .nav{
    transform: translateY(0%);
    visibility: visible;
    opacity: 1;

  }
  .burger-icon{
    display: flex;
  }

      /* ----------- */

      .footer__inner {
        justify-content: center;
        grid-template: none;
        text-align: center;
        gap: 0;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer__col:nth-child(2) {
        margin-bottom: 40px;
    }

    .footer__col:nth-child(3) {
        margin-bottom: 10px;
    }

    /* ------------------------- */

    .program__action{
      max-width: none;
      grid-template: repeat(3, auto) / minmax(280px, 1fr) 1fr;
    }

    .program__img{
      display: none;
    }
}

@media (max-width: 800px){
  .hero__img{
    display: none;
  }

  .hero__img-control--mobile{
    display: flex;
    margin: 0 0 30px;
  }

  .hero__content{
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .hero__text{
    margin-bottom: 15px;
  }

  /* ---------------- */

  .about__inner{
    grid-template: none;
  }

  .about__img{
    justify-self: center;
    max-width: 500px;
  }

  .about__body{
    text-align: center;
  }
  .about__grid{
    grid-template: none; 
  }

  /* ------------------- */

  .tab-controls{
    gap: 10px;
  }
  .tab-controls__link{
    padding: 6px 20px;
  }

  .accordion-content__col:first-child{
    max-width: none;
  }

  .accordion-content__text{
    max-width: none;
  }
}
@media (max-width: 600px) {
  .main__about{
    margin: 60px 0;
  }

  .main__program{
    margin: 80px 0;
  }
  /* ------------ */
  .hero__title{
    font-size: 12vw;
  }
  .hero{
    padding: 50px 0 70px
  }
  /* -------------- */

  .about__title{
    font-size: 12vw;
  }

  .about__grid-item{
    padding: 10px 15px;
  }
  .about__grid{
    gap:15px;
  }

  .about__img-control{
    border-radius: 0;
    max-width: none;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px 15px;
  }
  /* ----------------------------------- */
    .program__title{
      text-align: center;
    }
    .program__top{
      text-align: center;
      align-items: center;
    }

    .program__action{
      grid-template: repeat(3, auto) / auto auto;
      gap: 15px;
    }
    .program__discount{
      grid-row: auto;
      grid-column: 1/-1;
      justify-self: center;
    }

    .tab-controls{
      justify-content: center;
    }

    .accordion-content{
      flex-direction: column;
    }

    .accordion-list__item{
      margin-bottom: 10px;
    }

    .accordion-list__control{
      padding: 17px 30px;
      font-size: 28px;
    }
    .accordion-list__control-title{
      font-size: 28px;
    }

    .accordion-list__control-icon svg{
      width: 26px;
      height: 26px;
    }
    .accordion-list__control-icon svg{
      width: 10px;

    }
  /* ------------------------------------ */



}
@media (max-width: 450px) {
  .hero__img-control{
    font-size: 15px;
  }
  .hero__img-button{
    width: 60px;
    height: 60px;
  }
  .hero__text
  {
    font-size: 13px;
  } 
  .modal__window{
    padding: 0 15px 40px;
  }
  .modal__img{
    width: 55%;
    margin: -45px 0 15px 65px;
  }
  .modal__title{
    font-size: 35px;
  }

  /* ------------------------- */

  .accordion-list__control{
    padding: 17px 15px;
  }

  .accordion-content{
    padding: 0 15px 30px;
  }
  
  .accordion-content__item{
    margin-bottom: 10px;
  } 

  .program__action{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .program__discount{
    text-align: left;
  }
  .program__action-button{
    width: 100%;
    gap: 10px;
  }
}
