@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";


.about__inner {
  display: grid;
  grid-template-columns: 1fr 1.05fr;
  grid-template-rows: repeat(2,auto);
  gap: 40px 53px;
}
.about__img {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  grid-row: 1/-1;
}
.about__img>img{
  object-fit: cover;
  object-position: 0 50%;
  width: 100%;
  height: 100%;
}

.about__img-control {
  position: absolute;
  bottom: 4.7%;
  left: 5%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  max-width: 300px;
  height: 108px;
  border-radius: 20px;
  background: #957b97e6;
  color: var(--general-bg);
  text-align: left;
}
.about__img-button {
  position: relative;
  flex-shrink: 0;
  width: 78px;
  height: 78px;
  border-radius: 100%;
  background: var(--general-bg);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__img-button::before{
  content: '';
  position: absolute;
  inset: 5px;
  border-radius: 100%;
  /* width: 68px;
  height: 68px; */
  border: 1px solid #ceaad0;
  
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
}

.about__img-button:hover::before{
  visibility: visible;
  opacity: 1;
}

.about__heading {
  margin-bottom: 30px;
}

.about__grid {
  display: grid;
  grid-template-columns: 1fr 1.05fr;
  gap: 32px;
}
.about__grid-item {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 20px;
  padding: 29px 24px;
  background: var(--accent-bg);
}
.about__grid-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--general-text);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ================================================== */



.program__top{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 60px;
  gap: 30px 15px;
  align-items: center;
}


.program__title{
  margin-bottom: 20px;
}
.program__bottom {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.program__action {
  display: grid;
  max-width: 501px;
  grid-template: repeat(3, auto) / 1.65fr 1fr;
  gap: 40px;
  flex-shrink: 0;
  width: 100%;
}
.program__discount {
  grid-row: 1/3;
  
  background: var(--accent-bg);
  border-radius: 20px;
  font-size: 20px;
  padding: 40px;
}

.program__discount-value{
  display: block;
  font-family: "Gabriola", sans-serif;
  font-size: 74px;
  line-height: .82;
  color: var(--accent-color);
  margin-left: 15%;
  margin-bottom: 7px;
  
  transform-origin: 0 0;
  animation: move-sale .8s infinite alternate; 
}
@keyframes move-sale{
  from{
    transform: scale(1);
    color: var(--accent-color);
  }
  to{
    transform: translateX(3%) scale(1.1);
    color: #ff9138;
  }
}

.program__discount span{
  display: block;
  font-size: 16px;
  margin-left: 35%;
}

.program__price-text {
  display: block;
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #ceaad0;
}
.program__price-value {
  font-family: "Gabriola", sans-serif;
  font-size: 32px;
  line-height: .9;
}
.program__price-value--sale {
  font-family: "Gabriola", sans-serif;
  font-size: 50px;
  line-height: .9;
  color: var(--accent-text);
}

.program__action-button{
  grid-column: 1/3;
  align-self: center;
}

.program__img img{
  width: 100%;
}

/* ================================================== */

.tab-controls{
  display: flex;
  gap: 26px;
  white-space: nowrap;
}

.tab-controls__item{
  margin-bottom: 10px;
}

.tab-controls__link{
  border-radius: 100px;
  display: block;
  padding: 14px 30px;
  transition: all .4s;
  box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);
}

.tab-controls__link:hover{
  background: var(--accent-bg);
}

.tab-controls--active{
  background: var(--accent-bg);
  box-shadow: 0; 
}

.tab-content{
  display: none;
}

.tab-content--show{
  display: block;
}


.accordion-list__item {
  margin-bottom: 30px;
  border-radius: 20px;
  border: 1px solid var(--accent-color);
  overflow: hidden;
  
}
.accordion-list__item:last-child{
  margin-bottom: 0;
}

.accordion-list__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  gap: 15px;
  width: 100%;
  padding: 40px 30px;
  transition: all .4s;
  background: transparent;
}


.accordion-list__item--opened .accordion-list__control{
  padding-bottom: 20px;
}

.accordion-list__control-title {
  font-size: 42px;
  line-height: .9;
}

.accordion-list__control-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1.5px solid var(--accent-color);
  border-radius: 100px;
  flex-shrink: 0;
  
  transition: all .4s;
}

.accordion-list__control-icon,.accordion-list__control-icon path, .accordion-list__control-icon svg{
  transition: all .4s;
}
.accordion-list__control:hover .accordion-list__control-icon{
  background: var(--accent-color);
}
.accordion-list__control:hover path{
  fill: var(--general-bg);
}
.accordion-list__control:hover svg{
  transform: rotate(90deg);
}



.accordion-list__item--opened .accordion-list__control-icon{
  background: var(--accent-color);
}
.accordion-list__item--opened .accordion-list__control path{
  fill: var(--general-bg);
}
.accordion-list__item--opened .accordion-list__control svg{
  transform: rotate(90deg);
}


.accordion-list__content {
  max-height: 0px;
  overflow: hidden;
  transition: all .4s;
}

.accordion-list__item--opened .accordion-list__content{
  max-height: 800px;
}


.accordion-content {
  padding: 0 30px 40px 30px;
  display: flex;
  gap: 80px;
}
.accordion-content__col:first-child {
  max-width: 507px;
  width: 100%;
}
.accordion-content__title {
  text-transform: uppercase;
  color: #ceaad0;
  list-style: 1.6;
  margin-bottom: 20px;
}

.accordion-content__item {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}
.accordion-content__item:last-child{
  margin-bottom: 0;
}
.accordion-content__icon {
  border: 1px solid #ceaad0;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.accordion-content__text {
  max-width: 274px;
}
/* ================================================== */


.gallery__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 40px;
}
.gallery__img{
  justify-self: center;
  align-self: center;
}
.gallery__img img{
  max-width: 100%;
}
.gallery__content {
  display: flex;
  gap: 30px 15px;
  align-items: end;
  justify-content: space-between;
}
.gallery__info {
  max-width: 380px;

}
.gallery__title {
  margin-bottom: 20px;
}
.gallery__nav {
  display: flex;
  gap: 98px;
  align-items: center;
  position: relative;
}

.gallery__pagination{
  position: absolute;
  top: 0;
  left: 40%;
  max-width: 50px;
  display: flex;
  font-size: 42px;
  line-height: .9;
  font-family: "Gabriola", sans-serif;
}
.gallery__prev, .gallery__next {
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1.5px solid var(--accent-color);
  border-radius: 50%;
  flex-shrink: 0;
  
  transition: all .4s;
}
.gallery__next:hover, 
.gallery__prev:hover{
  background: var(--accent-color);
}
.gallery__prev path, 
.gallery__next path{
  transition: all .4s;
}
.gallery__next:hover path, 
.gallery__prev:hover path{
  fill: var(--general-bg);
}

.gallery__slide{
  border-radius: 20px;
  overflow: hidden;
}
.gallery__slide img{
  width: 100%;
}
/* ================================================== */

.reviews__slider{
  overflow: visible;
}

.reviews__inner{
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 40px;
  gap: 30px;
}

.reviews__info{
  max-width: 632px;
}

.reviews__title{
  margin-bottom: 20px;
}

.reviews__nav{
  display: flex;
  gap: 30px;
}

.reviews__wrapper{
  margin-bottom: 40px;
}
.swiper-scrollbar.reviews__scrollbar {
  position: static;
  height: 7px;
  width: 100%;
}

.reviews__slide{
  background: var(--accent-bg);
  border-radius: 20px;
  padding: 30px 30px 40px;
  display: flex;
  gap: 30px;
  transition: all .4s;
  opacity: 0;
  height: auto;
}

.reviews__slide.swiper-slide{
  transform: scale(.9);
}
.swiper-slide-prev.reviews__slide{
  opacity: 0.5;
}
.swiper-slide-next.reviews__slide{
  opacity: 0.5;
}
.swiper-slide-active.reviews__slide{
  transform: scale(1);
  opacity: 1;
}

.reviews__quote span{
  display: block;
  font-size: 32px;
  line-height: .9;
  font-family: "Gabriola", sans-serif;
  color: var(--accent-text);
  margin-bottom: 10px;
}

.reviews__student{
  max-width: 165px;
  width: 100%;
  flex-shrink: 0;
  text-align: center;
}

.reviews__student-img{
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.reviews__student-img img{
  width: 100%;
}
.reviews__student-name{
  margin-bottom: 5px;
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--accent-text);
}

.reviews__student-inst{
  margin: 0 auto;
  color: #ceaad0;
}

.reviews__scrollbar{
  border-radius: 100px;
  height: 7px;
  background: var(--accent-bg);
}

.reviews__scrollbar .swiper-scrollbar-drag{
  border-radius: 100px;
  /* max-width: 132px; */
  background: var(--accent-color);
}

.reviews__prev, .reviews__next {
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1.5px solid var(--accent-color);
  border-radius: 50%;
  flex-shrink: 0;
  
  transition: all .4s;
}
.reviews__next:hover, 
.reviews__prev:hover{
  background: var(--accent-color);
}
.reviews__prev path, 
.reviews__next path{
  transition: all .4s;
}
.reviews__next:hover path, 
.reviews__prev:hover path{
  fill: var(--general-bg);
}


/* -------------- */
.swiper-button-disabled{
  border: 1.5px solid #e1d9e1;
  cursor: default;
}

.swiper-button-disabled path{
  fill: #e1d9e1;
}
.swiper-button-disabled:hover path{
  fill: #e1d9e1;
}
.swiper-button-disabled:hover{
  background: transparent;
  cursor: default;
}

/* =================================================== */

.contact {
  padding: 140px 0;
  background: url(../img/decor/bg-footer.png) 50% 0%/cover no-repeat ;
}

.contact__inner {
  display: flex;
  align-items: end;
  gap: 84px;
  position: relative;
}
.contact__inner::before {
  content: url(../img/decor/berries.png);
  position: absolute;
  top: -4%;
  left: 0;
  
}
.contact__inner::after {
  content: url(../img/decor/berries-2.png);
  position: absolute;
  top: 4%;
  right: 0;
  
}
.contact__img img{
  width: 100%;
  filter: drop-shadow(0 4px 30px 0 rgba(198, 176, 161, 0.3));
  
}
.contact__body {
  max-width: 420px;
}
.contact__title {
  margin-bottom: 20px;
}

.contact__text {
  margin-bottom: 40px;
}

.contac__label {
  margin-bottom: 10px;
  
}

.contact__input{
  display: block;
  width: 100%;
  border: 1px solid #ac907a;
  border-radius: 100px;
  padding: 19px 41px 19px 28px;
  font-size: 16px;
  background: transparent;
  transition: all .4s;
  margin-bottom: 20px;
}
.contact__input::placeholder{
  color: #ac907a;
  transition: all .4s;
}
.contact__input:hover{
  border-color:  var(--accent-color); 
}
.contact__input:hover::placeholder{
  color: var(--accent-color);
}

.contact__check-label {
  display: flex;
  gap: 5px;
  max-width: 288px;
  font-size: 13px;
  margin-bottom: 20px;
  align-items: start;
}
.contact__check-label a{
  text-decoration: underline;
  transition: all .4s;
}
.contact__check-label a:hover{
  color: var(--accent-color);
}
.contact__checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border:1.5px solid  #ac907a;
  flex-shrink: 0;
  transition: all .4s;
  cursor: pointer;
  position: relative;
}
.contact__checkbox:hover {
  border: 1.5px solid  var(--accent-color);
}
.contact__checkbox:checked {
  background: var(--accent-color);
  border: 1.5px solid  var(--accent-color);
}
.contact__checkbox::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url(../img/icons/check.svg) 50% 50% no-repeat;
  opacity: 0;
  transition: all .2s;
}
.contact__checkbox:checked:before {
  opacity: 1;

}



/* ================================================== */
/* ================================================== */
/* ================================================== */

@media (max-width: 1200px) {
  .hero__img 
  {
    margin: 0;
    max-width: 377px;
  }

  .hero__img-control{
    position: static;
    max-width: none;
    margin-top: 30px;
  }

      /* ----------- */

      .footer__inner {
        justify-content: space-between;
        grid-template: repeat(2, auto) / repeat(3, auto);
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
        text-align: center;
    }

    .footer__col-tel{
      margin-bottom: 10px;
  }

  /* --------------------------- */

  .program__top{
    flex-direction: column;
    align-items: start;
  }

  .tab-controls{
    flex-wrap: wrap;
  }
  /* ------------------------- */
  .contact__inner::after{
    top: -20%;
  }
}

@media (max-width: 1100px) {
  .about__img {
    grid-row:auto;
}
.about__grid{
  grid-column: 1/-1;
}
.about__body{
  align-self: center;
}

/* -------------------------------------- */

.accordion-list__control{
  padding: 20px 30px;
  font-size: 35px;
}
  .accordion-list__item{
    margin-bottom: 25x;
  }

  .program__top{
    margin-bottom: 40px;
  }

  .accordion-content{
    gap: 30px;
  }

  /* ---------------------------------- */

  .contact__inner{
    gap: 30px;
    align-items: center;
  }
}

@media (max-width:900px){
  .nav{
    position: fixed;
    inset: 0;
    z-index: 10;
    background: var(--accent-bg);
    padding: 25vh 15px 30px;
    font-size: 24px;

    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
  }


  .nav__list{
    flex-direction: column;
    align-items: center;
  }

  .body--opened-menu .nav{
    transform: translateY(0%);
    visibility: visible;
    opacity: 1;

  }
  .burger-icon{
    display: flex;
  }

      /* ----------- */

      .footer__inner {
        justify-content: center;
        grid-template: none;
        text-align: center;
        gap: 0;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer__col:nth-child(2) {
        margin-bottom: 40px;
    }

    .footer__col:nth-child(3) {
        margin-bottom: 10px;
    }

    /* ------------------------- */

    .program__action{
      max-width: none;
      grid-template: repeat(3, auto) / minmax(280px, 1fr) 1fr;
    }

    .program__img{
      display: none;
    }

     /* -------------------------------------- */

    .gallery__img{
      display: none;
    }

    .gallery__inner{
      grid-template: none;
    }

    .gallery__info{
      max-width: none;
    }
    /* ------------------ */

    .reviews__scrollbar.swiper-scrollbar{
      width: 50%;
      margin: 0 auto;
    }

    /* -------------------------------- */
    .contact__img{
      display: none;
    }
    .contact__inner{
      justify-content: center;
    }
}

@media (max-width: 800px){
  .hero__img{
    display: none;
  }

  .hero__img-control--mobile{
    display: flex;
    margin: 0 0 30px;
  }

  .hero__content{
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .hero__text{
    margin-bottom: 15px;
  }

  /* ---------------- */

  .about__inner{
    grid-template: none;
  }

  .about__img{
    justify-self: center;
    max-width: 500px;
  }

  .about__body{
    text-align: center;
  }
  .about__grid{
    grid-template: none; 
  }

  /* ------------------- */

  .tab-controls{
    gap: 10px;
  }
  .tab-controls__link{
    padding: 6px 20px;
  }

  .accordion-content__col:first-child{
    max-width: none;
  }

  .accordion-content__text{
    max-width: none;
  }

  /* ----------------- */

  .reviews__inner{
    align-items: stretch;
    flex-direction: column;
  }
  
  .reviews__nav{
    align-self: flex-end;
  }

  /*  --------------------------------------- */

  .contact__inner::before{
    content: none;
  }
}
@media (max-width: 600px) {
  .main__about{
    margin: 60px 0;
  }

  .main__program,  .main__gallery{
    margin: 80px 0;
  }
  /* ------------ */
  .hero__title{
    font-size: 12vw;
  }
  .hero{
    padding: 50px 0 70px
  }
  /* -------------- */

  .about__title{
    font-size: 12vw;
  }

  .about__grid-item{
    padding: 10px 15px;
  }
  .about__grid{
    gap:15px;
  }

  .about__img-control{
    border-radius: 0;
    max-width: none;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px 15px;
  }
  /* ----------------------------------- */
    .program__title{
      text-align: center;
    }
    .program__top{
      text-align: center;
      align-items: center;
    }

    .program__action{
      grid-template: repeat(3, auto) / auto auto;
      gap: 15px;
    }
    .program__discount{
      grid-row: auto;
      grid-column: 1/-1;
      justify-self: center;
    }

    .tab-controls{
      justify-content: center;
    }

    .accordion-content{
      flex-direction: column;
    }

    .accordion-list__item{
      margin-bottom: 10px;
    }

    .accordion-list__control{
      padding: 17px 30px;
      font-size: 28px;
    }
    .accordion-list__control-title{
      font-size: 28px;
    }

    .accordion-list__control-icon svg{
      width: 26px;
      height: 26px;
    }
    .accordion-list__control-icon svg{
      width: 10px;

    }
  /* ------------------------------------ */

  .gallery__content{
    flex-direction: column;
  }

  .gallery__inner{
    margin-bottom: 20px;
  }

    /* ------------------------------------ */
  
    .reviews__slide{
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .reviews__inner{
      margin-bottom: 20px;
    }

    /* ------------------------------- */

    .contact{
      padding-bottom: 80px;
    }
    .contact__title{
      text-align: center;
      font-size: 65px;
    }
    
    .contact__text{
      text-align: center;
    }

  
    

}
@media (max-width: 450px) {
  .hero__img-control{
    font-size: 15px;
  }
  .hero__img-button{
    width: 60px;
    height: 60px;
  }
  .hero__text
  {
    font-size: 13px;
  } 
  .modal__window{
    padding: 0 15px 40px;
  }
  .modal__img{
    width: 55%;
    margin: -45px 0 15px 65px;
  }
  .modal__title{
    font-size: 35px;
  }

  /* ------------------------- */

  .accordion-list__control{
    padding: 17px 15px;
  }

  .accordion-content{
    padding: 0 15px 30px;
  }
  
  .accordion-content__item{
    margin-bottom: 10px;
  } 

  .program__action{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .program__discount{
    text-align: left;
  }
  .program__action-button{
    width: 100%;
    gap: 10px;
  }

  /* ---------------- */


  .reviews__slide{
    padding: 30px 10px 30px;
  }

  /* ------------------ */

  .contact__title{
    font-size: 50px;
  }
}
